.order-manage-title-block {
  width: 100%;
  padding: 20px 20px 20px 40px;
  background-color: #fff;
}

.order-manage-title {
  font-size: 25px;
  color: #3b3939;
  font-weight: 500;
}
.seller-module-component-title {
  background-color: #fff;
}

.seller-module-component-panels-container {
  background-color: #fff;
}
.order-manage-router-container {
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 100px;
}
