* {
  //color: #F6F7F9;
}

.advertisement-container {
  width: 100%;
  //margin: 5px;
  height: 100%;

  //border-radius: 3px;

  //border: 1px solid black;

  background-color: #ffffff;
  //background-color: #000000;
  //background-color: #001441ab;
  //background-color: #039893;

  transition: all .1s;

  //border: 1px solid #6d6666;


  &:hover {
    //box-shadow: 0 0 4px 1px #ded8d8;
  }
}

.image-container {
  height: 65%;
  width: 100%;
  padding: 4px;

  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.main-image {
  //border-radius: 5px 5px 0 0;
  height: 100%;
  //height: 95%;
  width: 100%;
  //width: 95%;

  object-fit: cover;
}

.info-container {
  height: 35%;
  padding: 5px;

  display: flex;
  flex-direction: column;
}

.advertisement-title-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;


  a {
    text-decoration: none;
    font-size: inherit;

    font-weight: 500;
    color: #817f7f;
    //transition: color .02s;

    &:hover {
      color: #1f1e1e;

      //text-decoration: underline;
    }
  }
}

.price-container {
  margin-top: 5px;
}

.price-main-label {
  font-weight: 900;
  font-size: 16px;
  color: #e90d0d;
}

.price-crossed-label {
  font-weight: 500;
  font-size: 12px;
  text-decoration: line-through;
  color: #857e7e;
  //text-decoration: ;
}

.rating-sold-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 13px;
  //margin-top: 10px;
  //color: #5b5858;
  //flex-grow: 2;
  height: 20px;
}

.rating-text {
  font-size: inherit;
  color: inherit;
  margin-right: 15px;
}

.sold-text {
  color: inherit;
  font-size: inherit;
}

.advertisement-seller {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 2;
  //height: 30%;
  display: flex;
  align-items: flex-end;

  //margin-top: 20px;

  a {
    color: #757575;
    font-weight: 400;
    font-size: inherit;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: #3c3939;
    }

  }
}
