<div class="payment-container">
  <div class="payment-types-container">
    <input type="radio" name="choose-order-payment"
           (change)="payment = 'AGREEMENT'"
           [disabled]="disableDefault"
           [checked]="payment === 'AGREEMENT'"
           id="default-radio">
    <label for="default-radio" class="payment-type-label"
           >За домовленістю з продавцем</label>

    <input type="radio" name="choose-order-payment"
           (change)="payment = 'PREPAYMENT'"
           [disabled]="disablePrepayment"
           [checked]="payment === 'PREPAYMENT'"
           id="prepayment-radio" >
    <label for="prepayment-radio" class="payment-type-label"
           >Передплата</label>

    <input type="radio" name="choose-order-payment"
           (change)="payment = 'CASH_ON_DELIVERY'"
           [disabled]="disableCashOnDelivery"
           [checked]="payment === 'CASH_ON_DELIVERY'"
           id="cash-on-delivery-radio">
    <label for="cash-on-delivery-radio" class="payment-type-label"
           >Накладений платіж</label>
  </div>
  <div class="position-title-currency-picker">
    Валюта:
    <select class="currency-select" (change)="changeCurrencySelect($event)">
      <option value="USD" [selected]="currency == 'USD'">USD</option>
      <option value="EUR" [selected]="currency == 'EUR'">EUR</option>
      <option value="UAH" [selected]="currency == 'UAH'">UAH</option>
      <option value="RUR" [selected]="currency == 'RUR'">RUR</option>
    </select>
  </div>

</div>
