<div class="rating-stars">
  <label class="full" [ngStyle]="{'font-size': fontSize}" title="Awesome - 1 stars" [ngClass]="{full_filled: rating >= 1}"></label>
  <label class="full" [ngStyle]="{'font-size': fontSize}" title="Awesome - 2 stars" [ngClass]="{full_filled: rating >= 2}"></label>
  <label class="full" [ngStyle]="{'font-size': fontSize}" title="Awesome - 3 stars" [ngClass]="{full_filled: rating >= 3}"></label>
  <label class="full" [ngStyle]="{'font-size': fontSize}" title="Awesome - 4 stars" [ngClass]="{full_filled: rating >= 4}"></label>
  <label class="full" [ngStyle]="{'font-size': fontSize}" title="Awesome - 5 stars" [ngClass]="{full_filled: rating >= 4.5}"></label>
</div>
