.parameter-name {
  font-size: 15px;
  font-weight: 800;
  color: #857e7e;
}
.choosing-holder {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.values-select {
  font-size: 15px;
  font-weight: 900;
  border: 2px solid black;
  padding: 3px;
  border-radius: 3px;
  margin-left: 5px;
}

.values-option {
  font-size: 15px;
  font-weight: 900;
}

.choosing-container {
  display: flex;
  align-items: center;

}
