<div class="element-body" *ngIf="element !== null">
  <app-goods-shop-markup-advertisement-row
    *ngIf="element.elementType == 'MARKUP_ADVERTISEMENTS_ROW'" [element]="element">
  </app-goods-shop-markup-advertisement-row>

  <app-goods-shop-markup-advertisement-view
    *ngIf="element.elementType == 'MARKUP_ADVERTISEMENT_VIEW'" [element]="element">
  </app-goods-shop-markup-advertisement-view>

  <app-goods-shop-markup-advertising-banner
    *ngIf="element.elementType == 'MARKUP_ADVERTISING_BANNER'" [element]="element">
  </app-goods-shop-markup-advertising-banner>

  <div class="no-element-container" *ngIf="element.elementType === 'MARKUP_EMPTY_ELEMENT'">
    <div class="no-element-text" *ngIf="elementViewType === 'update'" (click)="addElement()">
      <span>+</span>
    </div>
  </div>

    <div class="element-overlay" *ngIf="elementViewType === 'update' && element.elementType !== 'MARKUP_EMPTY_ELEMENT'">
      <div class="overlay-body">
        <div class="line-delete-block line-overlay-button" (click)="deleteElement()">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="40" height="40"
               viewBox="0 0 172 172"
               style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
               font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#ffffff">
                <path
                  d="M33.73372,23.59961l-10.13411,10.13411l52.26628,52.26628l-52.26628,52.26628l10.13411,10.13411l52.26628,-52.26628l52.26628,52.26628l10.13411,-10.13411l-52.26628,-52.26628l52.26628,-52.26628l-10.13411,-10.13411l-52.26628,52.26628z"></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
</div>
