<div class="address-container" *ngIf="address">
  <div class="address-main-info">
    <div class="address-info-item">
      <div class="address-info-name">Отримувач</div>
      <div class="address-info-value">{{address.recipient}}</div>
    </div>
    <div class="address-info-item">
      <div class="address-info-name">Номер телефону</div>
      <div class="address-info-value">{{address.phoneNumber}}</div>
    </div>
  </div>
  <div class="address-main-info">
    <div class="address-info-item">
      <div class="address-info-name">Вулиця, будинок</div>
      <div class="address-info-value">{{address.street}}, {{address.house}}</div>
    </div>
    <div class="address-info-item">
      <div class="address-info-name">Місто, область, країна</div>
      <div class="address-info-value">{{address.city}}, {{address.region}}, {{address.country.englishName}}</div>
    </div>
  </div>
</div>
