.address-container {
  width: 100%;
}
.address-info-item {
  margin-right: 20px;
}
.address-info-name {
  color: #857e7e;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 2px;
}

.address-info-value {
  font-size: 17px;
  color: #2f2e2e;
  font-weight: 400;
}

.address-main-info {
  display: flex;
  margin-bottom: 20px;
}
