<div class="address-container" *ngIf="address">
  <div class="address-main-info">
    <div class="address-info-item">
      <div class="address-info-name">Отримувач</div>
      <div class="address-info-value">{{address.recipient}}</div>
    </div>
    <div class="address-info-item">
      <div class="address-info-name">Номер телефону</div>
      <div class="address-info-value">{{address.phoneNumber}}</div>
    </div>
  </div>
  <div class="address-main-info">
    <div class="address-info-item">
      <div class="address-info-name">Вулиця</div>
      <div class="address-info-value">{{address.street}}</div>
    </div>
    <div class="address-info-item">
      <div class="address-info-name">Будинок</div>
      <div class="address-info-value">{{address.house}}</div>
    </div>
    <div class="address-info-item">
      <div class="address-info-name">Місто</div>
      <div class="address-info-value">{{address.city}}</div>
    </div>
    <div class="address-info-item">
      <div class="address-info-name">Область</div>
      <div class="address-info-value">{{address.region}}</div>
    </div>
    <div class="address-info-item">
      <div class="address-info-name">Країна</div>
      <div class="address-info-value" *ngIf="address">{{address.country.englishName}}</div>
    </div>
  </div>
</div>
