<div class="diagram-body" *ngIf="diagramData" [ngStyle]="{
'height': columnsHeight
}">
<!--  <div class="vertical-holder" [ngStyle]="{-->
<!--    'width': columnsWidth-->
<!--    }">-->
<!--    <div class="vertical-label">{{diagramData.max}}</div>-->
<!--    <div class="vertical-label">{{diagramData.average}}</div>-->
<!--    <div class="vertical-label">{{diagramData.min}}</div>-->
<!--  </div>-->
  <div class="columns-labels-holder">

    <div class="column-labels-container">
      <div class="column-label" [ngStyle]="{'height': columnHeight}"
           *ngFor="let index of [].constructor(columnLabels.length); let i = index"
           >{{columnLabels[i]}}</div>
    </div>

    <div class="diagram-columns" [ngStyle]="{'width': columnsWidth}">
      <app-statistics-rating-horizontal-column
        *ngFor="let index of [].constructor(5); let i = index"
        [column]="diagramData.columns[i]"
        [ngStyle]="{'height': columnHeight}"
        [columnColor]="defineRatingColumnColor(i)"
      ></app-statistics-rating-horizontal-column>
    </div>
  </div>

</div>

<!--; let item of [].constructor(columnLabels.length); let i = index-->
<!--black_text: i <= currentMonth-->
