<div class="seller-module-component-title seller-module-bottom-padding seller-module-component-block seller-module-component-bottom-border">
  Аналітика магазину
</div>

<!--<div class="container">-->

<!--  <div class="block">-->
<!--    <div class="main-title">Статистика магазину</div>-->
<!--  </div>-->

<!--  <div class="block">-->
<!--    <div class="statistic-block-title">-->
<!--      Магазин зарєстровано {{statistics.registrationDate}}, за цей час-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Відгуків про магазин</div>-->
<!--      <div class="statistic-element-value">{{statistics.sellerFeedbacks}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Відгуків про товари</div>-->
<!--      <div class="statistic-element-value">{{statistics.orderFeedbacks}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Рейтинг комунікації</div>-->
<!--      <div class="statistic-element-value rating-view-element">-->
<!--        <app-rating-view [rating]="statistics.communicationRating"></app-rating-view>-->
<!--        {{statistics.communicationRating}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Рейтинг обслуговування</div>-->
<!--      <div class="statistic-element-value rating-view-element">-->
<!--        <app-rating-view [rating]="statistics.serviceRating"></app-rating-view>-->
<!--        {{statistics.serviceRating}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Рейтинг товарів</div>-->
<!--      <div class="statistic-element-value rating-view-element">-->
<!--        <app-rating-view [rating]="statistics.orderRating"></app-rating-view>-->
<!--        {{statistics.serviceRating}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Замовлень прийнято</div>-->
<!--      <div class="statistic-element-value">{{statistics.orders}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Товарів у магазині</div>-->
<!--      <div class="statistic-element-value">{{statistics.advertisements}}</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="block" *ngIf="statistics.registrationDate !== ''">-->
<!--    <div class="stat-date-container">Статистика за-->
<!--&lt;!&ndash;      <app-year-month-picker [startDate]="statistics.registrationDate"&ndash;&gt;-->
<!--&lt;!&ndash;                             (datePick)="changeMonthStatistics($event)"></app-year-month-picker>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Відгуків про магазин</div>-->
<!--      <div class="statistic-element-value">{{monthStatistics.sellerFeedbacks}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Відгуків про товари</div>-->
<!--      <div class="statistic-element-value">{{monthStatistics.orderFeedbacks}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Середній рейтинг комунікації</div>-->
<!--      <div class="statistic-element-value rating-view-element">-->
<!--        <app-rating-view [rating]="monthStatistics.averageCommunicationRating"></app-rating-view>-->
<!--        {{monthStatistics.averageCommunicationRating}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Середній рейтинг обслуговування</div>-->
<!--      <div class="statistic-element-value rating-view-element">-->
<!--        <app-rating-view [rating]="monthStatistics.averageServiceRating"></app-rating-view>-->
<!--        {{monthStatistics.averageServiceRating}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Середній рейтинг товарів</div>-->
<!--      <div class="statistic-element-value rating-view-element">-->
<!--        <app-rating-view [rating]="monthStatistics.averageOrderRating"></app-rating-view>-->
<!--        {{monthStatistics.averageOrderRating}}</div>-->
<!--    </div>-->
<!--    <div class="statistic-element">-->
<!--      <div class="statistic-element-name">Замовлень прийнято</div>-->
<!--      <div class="statistic-element-value">{{monthStatistics.monthOrders}}</div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
