.container {
  width: 75%;
  margin: 0 auto;

}

.menu-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 15px;
}

.menu-item {
  margin: 0 20px;

  input {
    display: none;
  }

  input:checked + label {
    color: #746ef6;
  }

  label {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: #746ef6;
    }
  }
}

.menu-title {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: #746ef6;
  }
}


.orders-container {
  background-color: #fff;
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  min-height: 100px;
}

.paginator-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e2dcdc;
}
