<div class="line-main" *ngIf="max" [ngClass]="{
  edit_body: lineViewType === 'update'
}">
<!--  {{line.order}}-->
  <div class="line-container">
    <app-goods-shop-markup-element
      *ngFor="let element of line.elements"
      [element]="element"
      [elementViewType]="lineViewType"
      [ngClass]="{
     width_100: element.width === 4,
     width_25: element.width === 1,
     width_50: element.width === 2
     }"></app-goods-shop-markup-element>
  </div>
  <div class="line-overlay-container" *ngIf="lineViewType === 'update'">
    <div class="overlay-body">
      <div class="line-arrow-up line-overlay-button" *ngIf="line.order > 1" (click)="changeLineOrder('up')">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             width="24" height="24"
             viewBox="0 0 226 226"
             style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
             stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
             font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,226v-226h226v226z" fill="none"></path>
            <g fill="#ffffff">
              <path
                d="M113,27.58789l-66.57878,66.57878l14.125,14.125l43.03711,-43.03711v132.49544h18.83333v-132.49544l43.0371,43.03711l14.125,-14.125z"></path>
            </g>
          </g>
        </svg>
      </div>
      <div class="line-arrow-down line-overlay-button" *ngIf="line.order != max" (click)="changeLineOrder('down')">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             width="24" height="24"
             viewBox="0 0 226 226"
             style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
             stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
             font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,226v-226h226v226z" fill="none"></path>
            <g fill="#ffffff">
              <path
                d="M103.58333,28.25v132.49544l-43.03711,-43.0371l-14.125,14.125l66.57878,66.57877l66.57877,-66.57877l-14.125,-14.125l-43.0371,43.0371v-132.49544z"></path>
            </g>
          </g>
        </svg>
      </div>
<!--      <div class="line-edit-block line-overlay-button">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"-->
<!--             width="24" height="24"-->
<!--             viewBox="0 0 172 172"-->
<!--             style=" fill:#000000;">-->
<!--          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"-->
<!--             stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"-->
<!--             font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">-->
<!--            <path d="M0,172v-172h172v172z" fill="none"></path>-->
<!--            <g fill="#ffffff">-->
<!--              <path-->
<!--                d="M131.96744,14.33333c-1.83376,0 -3.66956,0.69853 -5.06706,2.09961l-12.23372,12.23372l28.66667,28.66667l12.23372,-12.23372c2.80217,-2.80217 2.80217,-7.33911 0,-10.13412l-18.53255,-18.53255c-1.40108,-1.40108 -3.23329,-2.09961 -5.06706,-2.09961zM103.91667,39.41667l-82.41667,82.41667v28.66667h28.66667l82.41667,-82.41667z"></path>-->
<!--            </g>-->
<!--          </g>-->
<!--        </svg>-->
<!--      </div>-->
      <div class="line-delete-block line-overlay-button" (click)="clickDelete()">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             width="24" height="24"
             viewBox="0 0 172 172"
             style=" fill:#ffffff;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
             stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
             font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#ffffff">
              <path
                d="M71.66667,14.33333l-7.16667,7.16667h-35.83333v14.33333h114.66667v-14.33333h-35.83333l-7.16667,-7.16667zM35.83333,50.16667v93.16667c0,7.88333 6.45,14.33333 14.33333,14.33333h71.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-93.16667zM57.33333,64.5h14.33333v78.83333h-14.33333zM100.33333,64.5h14.33333v78.83333h-14.33333z"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>

