.chat-container {
  height: 600px;
  width: 90%;
  background-color: #fff;
}

.order-chat-container {
  //padding-left: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  //margin-bottom: -100px;
}
