<div class="seller-module-component-title seller-module-component-block seller-module-component-bottom-border">
  Сповіщення
</div>

<!--<div class="container">-->
<!--  <div class="block">-->
<!--    <div class="block-title main-title">-->
<!--      Ваші сповіщення-->
<!--    </div>-->

<!--  </div>-->
<!--  <div class="block">-->
<!--    <div class="notification-block" *ngFor="let notification of notifications">-->
<!--      <div class="notification-type-icon">-->
<!--        <img *ngIf="notification.type === 'NEW_ORDER_NOTIFICATION'" src="https://img.icons8.com/material/24/000000/receipt.png"/>-->
<!--        <img *ngIf="notification.type === 'ORDER_RECEIVED_NOTIFICATION'"  src="https://img.icons8.com/material/24/000000/approved-delivery.png"/>-->
<!--      </div>-->
<!--      <div class="notification-body">-->
<!--        <div class="notification-text" [innerHTML]="notification.text"></div>-->
<!--        <div class="white-space"></div>-->
<!--        <div class="notification-new-notification" *ngIf="!notification.isRead">-->
<!--          Нове сповіщення-->
<!--        </div>-->
<!--        <div class="notification-date">{{notification.dateTime}}</div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="pagination-container" *ngIf="totalPages > 1">-->
<!--      <app-paginator [pagination]="pagination" [totalPages]="totalPages" (pageChange)="changePage($event)"></app-paginator>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
