<div class="container">
  <div class="block">
    <div class="block-title">Збережені товари</div>
  </div>
  <div class="block-pre-container">
    <span>Усього товарів: {{totalElems}}</span>
    <span>Сторінка {{pagination.page+1}} із {{totalPages}}</span>
  </div>
  <div class="block">
    <div class="advertisements-list">
      <div class="title-item">
        <div class="title-image-container column-container">
        </div>
        <div class="title-info-container column-container">
          <span class="title-text">Товар</span>
        </div>
        <div class="title-type-container column-container ">
          <span class="title-text title-type-text">Продавець</span>
        </div>
        <div class="title-actions-container column-container">
          <span class="title-text">Дії</span>
        </div>
        <!--        $ {{advertisement.price.price}}-->
      </div>
      <div class="advertisement-item" *ngFor="let advertisement of advertisements">
        <div class="item-image-container column-container">
          <img [src]="getImage(advertisement.mainImage, advertisement.sellerId)">
        </div>
        <div class="item-info-container column-container">
          <a class="item-title-text item-text" [href]="'client/advertisement-view?id=' + advertisement.id" target="_blank">{{advertisement.title}}</a>
<!--          <span class="item-title-text item-text"></span>-->
          <span class="item-price-text item-text">$ {{getAdvertisementPrice(advertisement)}}</span>
          <span class="item-subcategory-text item-text">{{advertisement.subcategory.title}}</span>
        </div>
        <div class="item-type-container  column-container">
          <a [href]="'client/advertisement-view?id=' + advertisement.id" target="_blank" class="item-text type-text">{{advertisement.seller}}</a>
        </div>
        <div class="column-container item-actions-container ">
          <button class="andro-button" (click)="deleteFromFavorites(advertisement.id)">Видалити зі збережених</button>
        </div>
      </div>
    </div>
    <div class="pagination-container" *ngIf="totalPages > 1">
      <app-paginator [pagination]="pagination" [totalPages]="totalPages" (pageChange)="changePage($event)"></app-paginator>
    </div>
  </div>
</div>
