$closedWidth: 50px;

.side-nav-container {
  height: 100%;
  //background-color: #242424;
  background-color: #ffffff;
  //color: #f6f2f2;
  width: $closedWidth;
  position: fixed;
  top: 0;
  left: 0;
}

.open-button-container {
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
}


.open-button-container:hover {
  cursor: pointer;
}

.link {
  //color: #f6f2f2;
  padding-left: 20px;
  display: none;
  font-size: 15px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.link:hover{
  cursor: pointer;
  background-color: #f3eeee;
}

.link-icon-container{
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  margin: 0 10px 0 15px;
}

.link-title{
  font-size: 15px;
}

.side-nav-container.opened {
  width: 250px;
  z-index: 2; /* Sit on top */

  .link {
    //color: #f6f2f2;
    display: flex;
    outline: none;
  }

}

.side-nav-container.opened + .background {
  display: block;
  opacity: .4;
}




.background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  //padding-top: 100px; /* Location of the box */
  background-color: rgba(0, 0, 0); /* Black w/ opacity */
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  //overflow: auto; /* Enable scroll if needed */
  transition: opacity 1s;
}

