<div class="side-nav-container" [ngSwitch]="userRole"
     [ngClass]="{
      opened: isOpened
      }">

  <div (click)="open()" class="open-button-container">
    <!--    <img src="https://img.icons8.com/android/24/ffffff/menu.png"/>-->
    <img src="https://img.icons8.com/android/24/000000/menu.png"/>
  </div>


  <div class="side-nav-item" (click)="openSettingMenu()">
    <div class="user-settings-info-container" [ngClass]="{opened_settings_menu: isOpenedSettingsMenu}">
      <img [src]="userCountry.flag" class="delivery-country-flag">
      /
      <div>UKR</div>
      /
      <div>{{userCurrency.code}}</div>
      <div class="arrow-holder">
        <div class="arrow arrow-down" *ngIf="!isOpenedSettingsMenu"></div>
        <div class="arrow arrow-up" *ngIf="isOpenedSettingsMenu"></div>
      </div>
    </div>
  </div>

  <div class="side-nav-item menu-container">
    <div class=" user-settings-container"
         [ngClass]="{opened: isOpenedSettingsMenu}">
      <div class="side-menu-element" (clickOutside)="closeCountryMenu()">
        Доставка в
        <div *ngIf="userCountry.name !== ''" class="country-picker">
          <div class="delivery-country-container" (click)="changeCountryPickMenuStatement()"
               [ngClass]="{border_picked: isOpenedCountryPickMenu}">
            <img [src]="userCountry.flag" class="delivery-country-flag">
            <span class="select-element-title">{{userCountry.nativeName}}</span>
            <div class="arrow-holder">
              <div class="arrow arrow-down" *ngIf="!isOpenedCountryPickMenu"></div>
              <div class="arrow arrow-up" *ngIf="isOpenedCountryPickMenu"></div>
            </div>
          </div>
          <div class="picker-container">
            <div class="picker-menu" *ngIf="isOpenedCountryPickMenu">
              <input type="text" placeholder="Пошук" (keyup)="filterCountriesForPicker($event)">
              <div class="list-container">
                <div *ngFor="let country of countries" class="list-item" (click)="changeCountry(country)">
                  <img [src]="country.flag" class="delivery-country-flag item-flag">
                  <span class="select-element-title">{{country.name}}</span>
                </div>
              </div>
            </div>
          </div>
          <!--          {{userCountry.nativeName}}-->
        </div>
      </div>
      <div class="side-menu-element" *ngIf="false">
        Мова
        <div>
        </div>
      </div>
      <div class="side-menu-element" (clickOutside)="closeCurrencyMenu()">
        Валюта
        <div *ngIf="userCurrency !== null" class="country-picker">
          <div class="delivery-country-container" (click)="changeCurrencyPickMenuStatement()"
               [ngClass]="{border_picked: isOpenedCurrencyPickMenu}">
            <span class="select-element-title">{{userCurrency.code}} ({{userCurrency.name}})</span>
            <div class="arrow-holder">
              <div class="arrow arrow-down" *ngIf="!isOpenedCurrencyPickMenu"></div>
              <div class="arrow arrow-up" *ngIf="isOpenedCurrencyPickMenu"></div>
            </div>
          </div>
          <div class="picker-container">
            <div class="picker-menu" *ngIf="isOpenedCurrencyPickMenu">
              <div class="list-container currency-list-container">
                <div *ngFor="let currency of currencies" class="list-item" (click)="changeCurrency(currency)">
                  <span class="select-element-title currency-title">{{currency.code}} ({{currency.name}})</span>
                </div>
              </div>
            </div>
          </div>
          <!--          {{userCountry.nativeName}}-->
        </div>
      </div>

      <button class="andro-button user-settings-change-button" (click)="changeUserSetting()">Зберегти</button>
    </div>

  </div>

  <div class="side-nav-divider side-nav-item"></div>

  <div  *ngIf="userRole != 'ROLE_SELLER'">
    <div class="link"  (click)="close('client/user/profile')">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/user-male-circle--v1.png"/>
      </div>
      <div class="link-title">Мій профіль</div>
    </div>
    <div class="link"  (click)="close('client/user/notifications')">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/alarm.png"/>
      </div>
      <div class="link-title">Сповіщення</div>
    </div>
    <div class="link"  (click)="close('client/user/history')">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/clock--v1.png"/>
      </div>
      <div class="link-title">Останні переглянуті</div>
    </div>
    <div class="link"  (click)="close('client/user/settings')">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/services.png"/>
      </div>
      <div class="link-title">Налаштування</div>
    </div>
    <div class="side-nav-divider side-nav-item"></div>
    <div class="link"  (click)="close('client/user/cart')">
      <div class="link-icon-container">  <img  src="https://img.icons8.com/material-outlined/24/000000/shopping-cart--v1.png"/></div>
      <div class="link-title">Корзина</div>
    </div>
    <div class="link" (click)="close('client/user/orders')">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/purchase-order--v1.png"/></div>
      <div class="link-title">Мої замовлення</div>
    </div>
    <div class="link"  (click)="close('client/user/favorites')">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/bookmark-outline.png"/></div>
      <div class="link-title">Збережені товари</div>
    </div>
    <div class="link"  (click)="close('client/user/addresses')">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/order-delivered.png"/></div>
      <div class="link-title">Мої адреси</div>
    </div>
    <div class="side-nav-divider side-nav-item"></div>
  </div>

  <div *ngSwitchCase="'ROLE_SELLER'">
    <div class="link" [routerLink]="'seller/profile'" (click)="close(null)">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/user-male-circle--v1.png"/>
      </div>
      <div class="link-title">Профіль магазину</div>
    </div>
    <div class="link"  [routerLink]="'seller/notifications'" (click)="close(null)">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/alarm.png"/>
      </div>
      <div class="link-title">Сповіщення</div>
    </div>
<!--    <div class="link" [routerLink]="'seller/statistics'"  (click)="close(null)">-->
<!--      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/combo-chart&#45;&#45;v1.png"/>-->
<!--      </div>-->
<!--      <div class="link-title">Статистика</div>-->
<!--    </div>-->
    <div class="link" [routerLink]="'seller/settings'"  (click)="close(null)">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/services.png"/>
      </div>
      <div class="link-title">Налаштування</div>
    </div>

    <div class="side-nav-divider side-nav-item"></div>

    <div class="link" [routerLink]="'seller/create-advertisement'" (click)="close(null)">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/add-list--v1.png"/></div>
      <div class="link-title">Додати товар</div>
    </div>
    <div class="link" [routerLink]="'seller/advertisements'" (click)="close(null)">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/package.png"/></div>
      <div class="link-title">Мої товари</div>
    </div>
    <div class="link" [routerLink]="'seller/orders'" (click)="close(null)">
      <div class="link-icon-container"><img src="https://img.icons8.com/material/24/000000/purchase-order--v1.png"/></div>
      <div class="link-title">Замовлення</div>
    </div>


  </div>
</div>

<div class="background" (click)="close(null)">
</div>
<div class="back"></div>
