<div class="seller-module-component-title
seller-module-component-block
seller-module-component-bottom-border
seller-module-bottom-padding">
  Замовлення
</div>
<div class="seller-module-component-radio-container seller-module-component-block seller-module-component-bottom-border">
  <input type="radio" id="all-orders-radio" name="order-types"
         [checked]="ordersStatus == null">
  <label for="all-orders-radio" class="order-type-label" (click)="changeOrdersType(null)">Усі</label>

  <input type="radio" id="wait-for-confirm-orders-radio" name="order-types"
         [checked]="ordersStatus == 'WAITING_FOR_SELLER_CONFIRMATION'">
  <label for="wait-for-confirm-orders-radio"  class="order-type-label" (click)="changeOrdersType('WAITING_FOR_SELLER_CONFIRMATION')">Очікують на розгляд</label>

  <input type="radio" id="wait-for-payment-verify-orders-radio" name="order-types"
         [checked]="ordersStatus == 'WAITING_FOR_PAYMENT_VERIFY'">
  <label for="wait-for-payment-verify-orders-radio"  class="order-type-label" (click)="changeOrdersType('WAITING_FOR_PAYMENT_VERIFY')">Очікують підтвердження оплати</label>

  <input type="radio" id="wait-for-send-orders-radio" name="order-types"
         [checked]="ordersStatus == 'WAITING_FOR_SENDING'">
  <label for="wait-for-send-orders-radio"  class="order-type-label" (click)="changeOrdersType('WAITING_FOR_SENDING')">Очікують відправлення</label>

  <input type="radio" id="wait-for-delivery-orders-radio" name="order-types"
         [checked]="ordersStatus == 'WAITING_FOR_DELIVERY'">
  <label for="wait-for-delivery-orders-radio"  class="order-type-label" (click)="changeOrdersType('WAITING_FOR_DELIVERY')">Очікують доставки</label>

  <input type="radio" id="wait-for-feedback-orders-radio" name="order-types"
         [checked]="ordersStatus == 'CLOSED'">
  <label for="wait-for-feedback-orders-radio"  class="order-type-label" (click)="changeOrdersType('CLOSED')">Завершені</label>
</div>
<div *ngIf="orders.length > 0">
  <app-seller-order-list-view-title (changePagination)="changeDirection($event)"></app-seller-order-list-view-title>

  <app-seller-order-list-view *ngFor="let order of orders" [goodsOrder]="order"></app-seller-order-list-view>
</div>
<div class="seller-module-component-block no-orders-text" *ngIf="orders.length == 0">
  У вас замовлень за вказаними параметрами
</div>
<div class="seller-module-component-block
     seller-module-component-bottom-border seller-module-component-margin-bottom"
     *ngIf="orders.length > 0">
  <app-arrow-paginator
    [pagination]="pagination"
    [totalPages]="totalPages"
    [totalElements]="totalElements" (pageChange)="changePagination($event)"></app-arrow-paginator>
</div>

