* {
  font-size: 15px;
}

.one-order-container {
  width: 100%;
}

.order-main-container {
  width: 100%;
  display: flex;

  padding: 15px 10px;

  background-color: #ece5e5;
}

.order-main {
  width: 50%;
}

.order-seller-info {
  width: 35%;
}

.order-price {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.col-button {
  border: 2px black solid;
  border-radius: 4px;

  background-color: #000000;
  color: #F6F7F9;

  font-size: 14px;
  font-weight: 900;

  padding: 5px 9px;
  margin: 4px;
  width: 80%;

  cursor: pointer;

  transition: all .2s;

  &:hover {
    background-color: #F6F7F9;
    color: #000000;
  }
}

.items-holder {
  display: flex;
  margin: 5px 0;
}

.order-items-list {
  width: 60%;


  border-right: 1px solid #e9e4e4;
}

.order-actions {
  display: flex;
  width: 40%;
}

.order-status-column {
  padding: 10px;
  width: 60%;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid #eee6e6;
}


.order-actions-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-id-container {

}

.link-to-order-page {
  font-size: inherit;
  text-decoration: none;
  margin-left: 5px;
  color: #5a55f1;

  &:hover {
    text-decoration: underline;
  }
}

.order-date-container {

}

.main-text {
  font-size: 12px;
}

.order-seller-text {
  color: #857e7e;
}

.seller-title-text {
  font-size: inherit;
  font-weight: 900;
}

.price-main-label {
  font-size: 12px;
  //margin-bottom: 5px;
}

.price-title {
  font-weight: 800;
}
