<div class="one-order-container">

  <div class="order-main-container">
    <div class="order-main">
      <div class="order-id-container main-text">
        Замовлення №: {{("00000000" + order.id).slice(-9)}}
        <a class="link-to-order-page" [href]="'/client/user/order-data?orderId=' + order.id" target="_blank" *ngIf="viewMode === 'user'">
          Детальніше
        </a>

        <a class="link-to-order-page" [href]="'/client/seller/order-data?orderId=' + order.id" target="_blank" *ngIf="viewMode === 'seller'">
          Детальніше
        </a>
      </div>
      <div class="order-date-container main-text">Час замолвення: {{order.creationDate}}</div>
    </div>

    <div class="order-seller-info">
      <div class="order-seller-text main-text">Магазин: <span class="seller-title-text">{{order.seller}}</span></div>
    </div>

    <div class="order-price">
      <div class="order-main-title price-main-label">Вартість:</div>
      <div class="order-main-title price-title">$ {{order.price.toFixed(2)}}</div>
    </div>
  </div>
  <div class="items-holder">
    <div class="order-items-list">
      <app-order-item-list-view [order]="order" *ngFor="let item of order.items"
                                [orderItem]="item"></app-order-item-list-view>
    </div>

    <div class="order-actions">
      <div class="order-status-column">
        {{orderService.getUkrOrderStatusValue(order.orderStatus)}}
      </div>
      <div class="order-actions-column" *ngIf="viewMode === 'user'">
        <button *ngIf="order.orderStatus === 'WAITING_FOR_DELIVERY'" class="col-button"
                (click)="navigateToOrderData(order.id)">Підтвердити отримання
        </button>
        <button *ngIf="order.orderStatus === 'WAITING_FOR_DELIVERY'" class="col-button"
                (click)="navigateToOrderData(order.id)">Дані про доставку
        </button>
        <button *ngIf="order.orderStatus === 'WAITING_FOR_FEEDBACK'" class="col-button"
                (click)="navigateToFeedBackMaking(order.id)">Залишити відгук
        </button>
        <button *ngIf="order.orderStatus !== 'WAITING_FOR_DELIVERY' && order.orderStatus !== 'WAITING_FOR_SENDING'"
                class="col-button" (click)="addOrderToCart(order)">Додати товари у корзину
        </button>
      </div>
      <div class="order-actions-column" *ngIf="viewMode === 'seller'">
        <button *ngIf="order.orderStatus === 'WAITING_FOR_SENDING'" class="col-button" (click)="navigateToSellerOrderData(order.id)">Підтвердити відправлення
        </button>
      </div>
    </div>
  </div>


</div>
