.border {
  border: 1px solid #a4a0a0;
}
.input-container {
  display: flex;
  height: 30px;
  width: 600px;
  align-items: center;
  background-color: #000000;


  input {
    flex-grow: 2;
    height: 100%;
    width: 100%;
    font-size: 13px;
    padding: 5px 5px 5px 8px;
    outline: none;
    border-right: none;
  }
}

.search-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f2f2;
  padding: 0 20px;
  height: 100%;
  transition: background-color .15s;

  &:hover {
    background-color: #eae7e7;
  }
}



