<div class="main-container" *ngIf="advertisement">
  <div class="advertisement-block">
    <div class="seller-info-block">
      <div class="seller-name-container"><span class="seller-name-title">{{advertisement.seller}}</span></div>
    </div>
  </div>
  <div class="advertisement-block advertisement-container">
    <div class="images-container advertisement-container-elem">
      <div class="view-image-container">
        <div class="buttons-over">
          <div class="previous-button-container step-image-button-container" (click)="clickPreviousImage()">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="60" height="60"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                 stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                 font-family="none" font-weight="none" font-size="none" text-anchor="none"
                 style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#ffffff">
                  <path
                    d="M93.16667,42.49609l-43.50391,43.50391l43.50391,43.5039l10.75,-10.75l-32.75391,-32.7539l32.75391,-32.75391z"></path>
                </g>
              </g>
            </svg>
          </div>

          <div class="next-button-container step-image-button-container" (click)="clickNextImage()">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="60" height="60"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                 stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                 font-family="none" font-weight="none" font-size="none" text-anchor="none"
                 style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#ffffff">
                  <path
                    d="M71.66667,42.49609l-10.75,10.75l32.7539,32.75391l-32.7539,32.7539l10.75,10.75l43.5039,-43.5039z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class="image-container">
<!--          <img (click)="openImageDialog(getAdvertisementImage(viewImage))" [src]="getAdvertisementImage(viewImage)">-->
        </div>
      </div>
      <div class="images-list">
        <div class="images-list-item" [ngClass]="{selected_image: viewImage === advertisement.mainImage}"
             (click)="changeViewImage(advertisement.mainImage)">
          <img [src]="getAdvertisementImage(advertisement.mainImage)">
        </div>
        <div class="images-list-item" *ngFor="let image of advertisement.images"

             [ngClass]="{selected_image: viewImage === image}"
             (click)="changeViewImage(image)">
          <img [src]="getAdvertisementImage(image)">
        </div>
      </div>
    </div>
    <div class="info-container advertisement-container-elem">
      <div class="advertisement-title-container">
        {{advertisement.title}}
      </div>
      <div class="advertisement-statistics-data-container" *ngIf="statics">
        <div class="rating-container" *ngIf="statics.feedbacks !== 0">
          <div class="rating-stars">
            <label class="full" title="Awesome - 1 stars" [ngClass]="{full_filled: statics.rating >= 1}"></label>
            <label class="full" title="Awesome - 2 stars" [ngClass]="{full_filled: statics.rating >= 2}"></label>
            <label class="full" title="Awesome - 3 stars" [ngClass]="{full_filled: statics.rating >= 3}"></label>
            <label class="full" title="Awesome - 4 stars" [ngClass]="{full_filled: statics.rating >= 4}"></label>
            <label class="full" title="Awesome - 5 stars" [ngClass]="{full_filled: statics.rating >= 4.5}"></label>
          </div>
          {{statics.rating}}
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="12" height="12"
               viewBox="0 0 172 172"
               style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
               font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#000000">
                <path
                  d="M53.24609,68.08333l-10.75,10.75l43.50391,43.5039l43.5039,-43.5039l-10.75,-10.75l-32.7539,32.7539z"></path>
              </g>
            </g>
          </svg>
          <div class="overlay-for-hover"></div>
        </div>
        <div class="feedbacks-container statistic-container" *ngIf="statics.feedbacks !== 0">
          {{statics.feedbacks}} відгук(ів)
        </div>
        <div class="orders-container statistic-container" *ngIf="statics.orders !== 0">
          {{statics.orders}} замовлень(ня)
        </div>
      </div>
      <div class="divider"></div>
      <div class="price-container">
        <div class="price-text" *ngIf="isParamsChosen">
          {{chosenPrice.toFixed(2)}} USD
        </div>
        <div class="price-text" *ngIf="!isParamsChosen">
          <div *ngIf="advertisement.minPrice !== advertisement.maxPrice">
            {{advertisement.minPrice.toFixed(2)}} - {{advertisement.maxPrice.toFixed(2)}} USD
          </div>
          <div *ngIf="advertisement.minPrice === advertisement.maxPrice">
            {{advertisement.minPrice.toFixed(2)}} USD
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="params-pick-container" *ngIf="advertisement.hasParameters">
        <div class="param-holder" *ngFor="let parameter of advertisement.parameters">
          <div class="parameter-title">{{parameter.title}}: <span class="parameter-chosen-value-title">{{parameter.chosenValue}}</span></div>
          <div class="parameter-values-container">
            <div *ngFor="let value of parameter.values">
              <input type="radio" [id]="'param-' + parameter.id + '-value-' + value.title" [name]="'param' + parameter.id" class="parameter-value-radio">
              <label [for]="'param-' + parameter.id + '-value-' + value.title" class="parameter-value-label" (click)="choseParamValue(parameter, value)">{{value.title}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="count-picker-container">
        <span class="count-picker-title">Кількість:</span>
        <div class="count-actions">
          <button [disabled]="pickerCount <= 1" class="count-button" (click)="clickMinusCountButton()">-</button>
          <input type="number" class="item-count-input" min="1" [(ngModel)]="pickerCount"
                 (keyup)="inputItemCount($event)">
          <button [disabled]="pickerCount >= chosenCount" (click)="clickPlusCountButton()"
                  class="count-button">+
          </button>
          <span class="count-value-text">{{chosenCount}} шт. в наявності</span>
        </div>
      </div>

      <div class="delivery-pick-container">
        <span class="delivery-text">Доставка:</span>

      </div>

      <div class="actions-container">
        <!--        <button class="action-button buy-button" (click)="buyButtonClick()">Купити</button>-->
        <button class="action-button cart-button" (click)="addToCartButtonClick()" [disabled]="!isParamsChosen">Додати у корзину</button>

      </div>
    </div>
  </div>

</div>
