@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.main-container {
  width: 80%;
  margin: 0 auto;
}

.advertisement-block {
  background-color: #fff;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
}

.seller-info-block {
  padding: 5px;
  width: 100%;
}

.seller-name-container {

}

.seller-name-title {
  font-size: 20px;
  font-weight: 800;
}

.advertisement-container {
  display: flex;
}

.advertisement-container-elem {
  //width: 50%;
  padding: 5px;
}

.images-container {
  width: 45%;
}

.info-container {
  width: 55%;
  padding: 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.view-image-container {
  display: flex;
  height: 400px;
  position: relative;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.view-image-container:hover {
  .buttons-over {
    opacity: 1;
  }
}

.image-container {
  //flex-grow: 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    //height: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.step-image-button-container {

  background-color: rgba(188, 182, 182, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    cursor: pointer;
  }
}

.buttons-over {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: all .5s;
}

.images-list {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.images-list-item {
  height: 70px;
  width: 70px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #d9d9d9;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.selected_image {
  border: 2px solid #ff0000;
  //box-shadow: 0 0 5px 1px #000000;
}

.advertisement-title-container {
  font-size: 15px;
}

.full {
  font-size: 14px;
}

.half:before {
  content: "\f089";
  position: absolute;
}

.full:before {
  margin-right: 4px;
  font-size: inherit;
  content: "\f005";
  color: #ddd;
  font-family: FontAwesome, serif;
  display: inline-block;
}

.full_filled:before {
  color: #000000;
}

.rating-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
  height: 20px;
  position: relative;
}

.overlay-for-hover {
  position: absolute;
  height: 100%;
  width: 100%;
}

.rating-stars {
  display: flex;
  align-items: center;
}

.feedback-stars {
  margin-bottom: 10px;
}

.advertisement-statistics-data-container {
  display: flex;
  align-items: center;
}

.statistic-container {
  font-size: 14px;
  font-weight: 400;
  margin: 0 4px;
}

.divider {
  width: 100%;
  border-top: 3px solid #fcfbfb;
  margin: 10px 0;
}

.retail-price-in-currency {
  font-weight: 700;
  font-size: 25px;
}

.retail-original-price {
  font-size: 12px;
}

.count-button {
  background-color: #e0dcdc;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.count-button:disabled {
  color: #998f8f;
  cursor: not-allowed;
}

.item-count-input {
  font-size: 15px;
  border: none;
  width: 60px;

  color: #7b77d7;

  outline: none;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.count-picker-title {
  display: block;
  font-size: 12px;
  margin: 10px 0;
}

.count-value-text {
  font-size: 12px;
  font-weight: 500;
  color: #bab1b1;
  padding-left: 10px;
}

.delivery-pick-container {
  margin-top: 15px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.delivery-text {
  font-size: 13px;
  font-weight: 700;
}

.delivery-picker-text {
  //display: flex;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #6c68ff;
  margin-top: 5px;

  &:hover {
    color: #aeaaff;
  }
}

.action-button {
  font-size: 16px;
  font-weight: 700;
  padding: 0 15px;
  color: #F6F7F9;

  margin: 0 10px 0 0;

  border: none;
  border-radius: 5px;
  background: none;

  outline: none;

  cursor: pointer;

  height: 40px;

  transition: all .1s;

  //height: 60px;
}

.buy-button {
  background-color: #ff0000;

  &:hover {
    background-color: #ef6969;
  }
}

.cart-button {
  background-color: #0c9817;

  &:hover {
    background-color: #4dc154;
  }
}

.cart-button:disabled {
  background-color: #74d479;
  cursor: not-allowed;
}

.likes-button {
  display: inline-flex;
  align-items: center;
  border: 3px solid black;
  color: black;
  padding: 5px 10px;

  svg {
    margin-right: 5px;
  }
}

.actions-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.wholesale-price-mark {
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  background-color: #16e077;
  color: #F6F7F9;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.min-count-cell {
  text-align: right;
}

.count-divider {
  width: 10px;
  text-align: center;
}

.max-count-cell {

}

.count-price-cell {
  width: 90px;
  text-align: right;
  font-weight: 800;
}

.count-label-cell {
  width: 40px;
  text-align: center;
}

.description-feedbacks-container {
  display: flex;

  div {
    width: 50%;
  }
}

.pick-desc-feed-radio {
  display: none;
}

.pick-desc-feed-radio + label {
  font-weight: 400;
  cursor: pointer;
  margin-right: 30px;
  font-size: 15px;
}

.pick-desc-feed-radio:checked + label {
  font-weight: 800;
  border-bottom: 3px solid black;
}

.pick-desc-feed-mode-container {
  padding-bottom: 2px;
  border-bottom: 1px solid #ddd4d4;
}

.description-text {
  font-size: 15px;
  font-weight: 400;
  color: #222222;
}

.description-container {
  padding-top: 20px;

}

.property-title-text {
  font-weight: 300;
  color: #736f6f;
}

.property-item {
  margin: 3px 0;

  span {
    font-size: 18px;
  }

}

.properties-container {
  margin-top: 30px;
}

.property-value-text {
  font-weight: 800;
  padding-left: 4px;
}

.feedbacks-list-container {
  padding-top: 20px;
}

.feedback-item {
  display: flex;
  border-bottom: 1px solid #bcb4b4;
  padding: 10px;
  margin-bottom: 5px;
}

.feedback-user-container {
  width: 15%;
  //padding: 10px;
}

.feedback-user-name {
  font-size: 16px;
  font-weight: 700;
}

.feedback-user-flag {
  margin-top: 6px;

  img {
    //border-radius: 3px;
    border: 1px solid #000000;
    height: 20px;
    opacity: .6;
  }
}

.feedback-content {
  width: 65%;
}

.feedback-rating {
  font-size: 12px;
  font-weight: 600;
  padding-left: 3px;
}

.feedback-text {
  font-size: 13px;
  word-wrap: break-word;
  padding-right: 5px;
}

.feedback-date {

  font-size: 13px;
  color: #857e7e;

  white-space: nowrap;
}

.feedback-images {
  padding-top: 15px;

  img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 3px;
    //border: 2px solid black;
    cursor: pointer;
  }
}

.paginator-container {
  display: flex;
  justify-content: flex-end;
}

.parameter-values-container {
  display: flex;
  align-items: center;
}

.parameter-value-radio {
  display: none;
}

.parameter-value-radio:checked + .parameter-value-label {
  border: 3px solid #000000;
}

.parameter-value-radio:not(:checked) + .parameter-value-label {

}


.parameter-value-label {
  //box-sizing: border-box;
  //-moz-box-sizing: border-box;
  //-webkit-box-sizing: border-box;

  font-size: 15px;

  padding: 4px 7px;
  margin: 5px;

  border-radius: 3px;
  //border: 1px solid #c1b6b6;

  cursor: pointer;

  border: 3px solid #f5f0f0;

  &:hover {
    border: 3px solid #000000;
  }
}

.param-holder {
  margin-bottom: 20px;
}

.parameter-title{
  margin: 5px;
  font-size: 13px;
  color: #242323;
}
.parameter-chosen-value-title{
  font-size: inherit;
  color: #857e7e;
}



