//@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.advertisement-view-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.advertisement-block {
  width: 90%;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 auto;
}
