.user-module-block {
  width: 80%;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.user-module-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeaea;
  margin-bottom: 20px;
}
.order-making-block {

}

.order-making-block-title {
  font-size: 15px;
  color: #857e7e;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeaea;
}

.buy-button-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
