<div class="user-module-block">
  <div class="order-making-block">
    <div class="order-making-block-title">Адреса доставки</div>
    <div>
      <app-choose-order-address></app-choose-order-address>
    </div>
  </div>
</div>
<div class="user-module-block">
  <div class="order-making-block">
    <div class="order-making-block-title">Доставка</div>
    <div *ngIf="position">
      <app-choose-order-delivery
        (changeDelivery)="changeDelivery($event)"
        [sellerId]="position.sellerId"></app-choose-order-delivery>
    </div>
  </div>
</div>
<div class="user-module-block">
  <div class="order-making-block">
    <div class="order-making-block-title">Спосіб оплати</div>
    <div>
      <app-choose-order-payment (changeCurrency)="changeCurrency($event)"></app-choose-order-payment>
    </div>
  </div>
</div>

<div class="user-module-block">
  <div class="order-making-block">
    <div class="order-making-block-title">Склад замовлення</div>
    <div *ngIf="position">
      <app-choose-order-items-list [position]="position"></app-choose-order-items-list>
      <div class="buy-button-container">
        <button class="andromeda-with-bg-button" (click)="makeOrder()">Замовити</button>
      </div>

    </div>
  </div>
</div>
