$height: 60px;

.nav-bar{
  //background-color: #242424;
  background-color: rgba(255,255,255,0.95);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $height;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  //justify-content: space-around;
}



.back{
  height: $height;
}

.logo{
  //color: #f6f7f9;
  color: #242424;
}

.search-container{
  height: 36px;
  display: flex;
  //justify-content: center;
  align-items: center;
  //margin-left: 200px;
}


.search-input{
  outline: none;
  height: 100%;
  padding-left: 15px;
  font-size: 14px;
  border: 0;
  width: 100%;
  //border-radius: 20px 0 0 20px;
}

.search-input-icon-container{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  //padding: 7px;
  border: 3px solid black;
  border-radius: 0 6px 6px 0;
  //border-radius: 0 20px 20px 0;
  border-left: 0;
  cursor: pointer;
  background-color: #000000;
}

.search-input-container{
  height: 100%;
  border: 3px solid black;
  border-radius: 6px 0 0 6px;
  //border-radius: 20px 0 0  20px;
  border-right: 0;
  width: 400px;
}

.profile-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-right: 50px;
}

.user-container{
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 7px;
}

.user-container-menu {
  display: block;
  position: fixed;
  left: 72%;
  top: 20px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #e0dede;

  .menu-item{
    height: 30px;
    padding-left: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #514e4e;
  }

  .menu-item:hover{
    background-color: #f5f2f2;
    cursor: pointer;
  }

  box-shadow: #ede4e4 1px 1px 5px 1px;
}

.user-container-menu.opened_user_menu{
  display: none;
}

.profile-button-container{
  height: 50px;
  //width: 50px;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  img{
    //border-radius: 50%;
    //margin-right: 5px;
      outline: none;
  }
  display: flex;
  cursor: pointer;
  outline: none;
}

.user-info-container{
  border-radius: 5px;
  border: 3px solid black;

}

.profile-button-container:hover{
  background-color: #f8f5f5;
  color: #7a7a7a;

}

.outside-menu{
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  display: none;
}

.login-button{
  //text-decoration: underline;
}

.outside-menu.opened_user_menu{
  display: block;
}

.notification-container{
  position: relative;
  padding: 10px 15px;
}

.overlay-notifications{
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  background-color: #888181;
  //border: 2px solid black;
  color: #F6F7F9;
  border-radius: 4px;
  text-align: center;
  padding: 3px 5px;
  height: 19px;
  //width: 19px;

  bottom: 0;
  right: 0;
}


@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .nav-bar {
    padding-left: 50px;
    padding-right: 20px;
  }

  .logo-container {
    display: none;
  }

  .search-input-container{
    width: 100%;
  }

  .search-container{
    width: 100%;
  }

  .profile-container{
    display: none;
  }
}
