app-advertisement-for-search-table-view {
  height: 100%;
  margin: 0 5px;
  width: 19%;
}

.row-advertisements-container {
  height: 85%;
  display: flex;
}

.row-title-container {
  padding: 5px;
  height: 15%;
  display: flex;
  align-items: flex-end;
}

.row-title-text {
  //margin-top: auto;
  font-weight: 900;
}

.link-to-seller-goods {
  color: #F6F7F9;
  background-color: #000000;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 4px;
  margin: 5px 15px;
}


.row-title-hold {
  display: flex;
  align-items: center;
}

