.text-container {
  max-width: 500px;
  text-align: center;
}
.button-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.dialog-text {
  font-weight: 500;
  font-size: 16px;
  color: #1c1b1b;
}

button {
  margin-right: 15px;
}
