<div class="container">
  <div class="menu-container">
    <div class="menu-item">
      <input type="radio" id="all-items-choose" name="items-type" checked>
      <label (click)="changeListMode(0)" for="all-items-choose">Усі ({{userGoodsOrderData.allItems}})</label>
      <!--      <span class="menu-title" (click)="loadAllOrders()"></span>-->
    </div>
    <div class="menu-item">
      <input type="radio" id="shipment-items-choose" name="items-type">
      <label (click)="changeListMode(1)" for="shipment-items-choose">Очікують відправлення
        ({{userGoodsOrderData.waitingForSending}})</label>
      <!--      <span class="menu-title"></span>-->
    </div>
    <div class="menu-item">
      <input type="radio" id="delivery-items-choose" name="items-type">
      <label (click)="changeListMode(2)" for="delivery-items-choose">Відправлені
        ({{userGoodsOrderData.waitingForDelivery}})</label>
      <!--      <span class="menu-title"></span>-->
    </div>
    <div class="menu-item">
      <input type="radio" id="closed-items-choose" name="items-type">
      <label (click)="changeListMode(3)" for="closed-items-choose">
        Завершені ({{userGoodsOrderData.closedOrders}})
      </label>
      <!--      <span class="menu-title"></span>-->
    </div>
  </div>
  <div class="orders-container">
    <app-order-list-view *ngFor="let order of orders" [order]="order"></app-order-list-view>
    <div class="paginator-container">
      <app-paginator [pagination]="pagination" [totalPages]="totalPages"
                     (pageChange)="loadNewPage($event)"></app-paginator>
    </div>
  </div>
</div>

