<div class="container">
  <div class="block page-title-block">
    Ваші товари
  </div>

  <div class="block-pre-container">
    <span>Усього товарів: {{totalElems}}</span>
    <span>Сторінка {{pagination.page+1}} із {{totalPages}}</span>
  </div>
  <div class="block">
    <div class="advertisements-list">
<!--      <div class="title-item">-->
<!--        <div class="title-image-container column-container">-->
<!--        </div>-->
<!--        <div class="title-info-container column-container">-->
<!--          <span class="title-text">Товар</span>-->
<!--        </div>-->
<!--        <div class="title-count-container column-container ">-->
<!--          <span class="title-text title-count-text">Кількість</span>-->
<!--        </div>-->
<!--        <div class="title-type-container column-container ">-->
<!--          <span class="title-text title-type-text">Тип</span>-->
<!--        </div>-->
<!--        <div class="title-actions-container column-container">-->
<!--          <span class="title-text">Дії</span>-->
<!--        </div>-->
<!--        &lt;!&ndash;        $ {{advertisement.price.price}}&ndash;&gt;-->
<!--      </div>-->
      <div>
        <app-advertisement-for-search-row-view
          *ngFor="let advertisement of advertisements"
          [goodsAdvertisement]="advertisement"
          [viewType]="'own'">
        </app-advertisement-for-search-row-view>
      </div>
    </div>

    <div class="paginator-container">
      <app-paginator [pagination]="pagination" [totalPages]="totalPages"
                     (pageChange)="loadNewPage($event)"></app-paginator>
    </div>
  </div>
</div>
