<div class="seller-component-list-view-container seller-module-component-block seller-module-component-bottom-border">
  <div class="seller-component-list-title-container-element seller-order-list-view-container-id-element pointer seller-component-list-title-change-direction-element"
       [ngClass]="{
  chosen_direction: pagination.field == 'id'
  }"
  (click)="changeDirection('id')"
  >
    ID замовлення
    <div class="seller-component-list-title-direction-icons-container" *ngIf="pagination.field == 'id'">
      <svg *ngIf="pagination.direction == 'ASC'" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="15" height="15"
           viewBox="0 0 226 226"
           style=" fill:#343434;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
           stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
           font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,226v-226h226v226z" fill="none"></path>
          <g fill="#343434">
            <path
              d="M113,27.58789l-66.57878,66.57878l14.125,14.125l43.03711,-43.03711v132.49544h18.83333v-132.49544l43.0371,43.03711l14.125,-14.125z"></path>
          </g>
        </g>
      </svg>
      <svg *ngIf="pagination.direction == 'DESC'" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="15" height="15"
           viewBox="0 0 226 226"
           style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
           stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
           font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,226v-226h226v226z" fill="none"></path>
          <g fill="#343434">
            <path
              d="M103.58333,28.25v132.49544l-43.03711,-43.0371l-14.125,14.125l66.57878,66.57877l66.57877,-66.57877l-14.125,-14.125l-43.0371,43.0371v-132.49544z"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="seller-component-list-title-container-element seller-order-list-view-container-date-element pointer seller-component-list-title-change-direction-element"
  [ngClass]="{
  chosen_direction: pagination.field == 'creationDate' || pagination.field == null
  }"
  (click)="changeDirection('creationDate')"
  >
    Дата та час
    <div class="seller-component-list-title-direction-icons-container" *ngIf="pagination.field == 'creationDate' || pagination.field == null">
      <svg *ngIf="pagination.direction == 'ASC'" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="15" height="15"
           viewBox="0 0 226 226"
           style=" fill:#343434;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
           stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
           font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,226v-226h226v226z" fill="none"></path>
          <g fill="#343434">
            <path
              d="M113,27.58789l-66.57878,66.57878l14.125,14.125l43.03711,-43.03711v132.49544h18.83333v-132.49544l43.0371,43.03711l14.125,-14.125z"></path>
          </g>
        </g>
      </svg>
      <svg *ngIf="pagination.direction == 'DESC'" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="15" height="15"
           viewBox="0 0 226 226"
           style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
           stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
           font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,226v-226h226v226z" fill="none"></path>
          <g fill="#343434">
            <path
              d="M103.58333,28.25v132.49544l-43.03711,-43.0371l-14.125,14.125l66.57878,66.57877l66.57877,-66.57877l-14.125,-14.125l-43.0371,43.0371v-132.49544z"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="seller-component-list-title-container-element seller-order-list-view-container-status-element">
    Статус
  </div>
  <div class="seller-component-list-title-container-element seller-order-list-view-container-count-element">
    Кількість позицій
  </div>
  <div class="seller-component-list-title-container-element seller-order-list-view-container-price-element">
    Сума
  </div>
</div>
