<div class="dialog-title">
  Оберіть планування секцій
</div>
<div class="line-types-container">
  <div class="line-type" (click)="createLine([1,1,1,1])">
    <div class="element width_25"></div>
    <div class="element width_25"></div>
    <div class="element width_25"></div>
    <div class="element width_25"></div>
  </div>
  <div class="line-type"  (click)="createLine([2,1,1])">
    <div class="element width_50"></div>
    <div class="element width_25"></div>
    <div class="element width_25"></div>
  </div>
  <div class="line-type"  (click)="createLine([1,2,1])">
    <div class="element width_25"></div>
    <div class="element width_50"></div>
    <div class="element width_25"></div>
  </div>
  <div class="line-type"  (click)="createLine([1,1,2])">
    <div class="element width_25"></div>
    <div class="element width_25"></div>
    <div class="element width_50"></div>
  </div>
  <div class="line-type"  (click)="createLine([2,2])">
    <div class="element width_50"></div>
    <div class="element width_50"></div>
  </div>
  <div class="line-type"  (click)="createLine([4])">
    <div class="element width_100"></div>
  </div>
</div>
