.container {
  width: 75%;
  margin: 0 auto;
}

.block-pre-container{
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  span{
    font-size: 12px;
    font-weight: 300;
  }
}

.block {
  width: 100%;
  padding: 20px 30px;
  background-color: #fff;
  margin-bottom: 15px;
}

.page-title-block{
  font-size: 30px;
  font-weight: 700;
}

.paginator-container {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 10px auto 0;
  padding-top: 10px;
  //border-top: 1px solid #efe8e8;
}


