<div class="item-row">
  <div class="main-column">
    <div class="item-image-container">
      <img class="item-image" [src]="getImage(orderItem.image, order.sellerId)">
    </div>
    <div class="title-container">
      <div class="title">
        <a [href]="'client/advertisement-view?id=' + orderItem.advertisementId" target="_blank">{{orderItem.title}}</a>
      </div>
      <div class="price-text">${{orderItem.price}} X {{orderItem.count}}</div>
      <div class="item-parameters">
        <div *ngFor="let paramValue of orderItem.priceCountResponse.values | keyvalue" class="param-block">
          <span class="param-name">{{paramValue.key}}</span>: <span class="param-value">{{paramValue.value}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="description-column">
    {{orderService.getUkrOrderItemStatusValue(orderItem.status) === 'Отримання підтверджено' ? 'Отримання підтверджено' : ''}}
  </div>
</div>
