<div class="dialog-title">
  Створення рекламного банеру
</div>

<div class="banner-body">
  <input style="display: none" type="file" accept="image/png,image/jpg,image/jpeg" [id]="'image_upload'" (change)="handleUpload($event)"/>
  <button class="add-image-button"
          [disabled]="images.length >= 10"
          (click)="uploadImage()">Додати фото</button>

  <div class="images-container">
    <div *ngFor="let image of images" class="img-cont">
      <img class="adv-img" src="{{image}}">
      <div class="overlay" *ngIf="image !== ''">
        <img (click)="deleteImage(image)"
             class="delete-img-button" src="https://img.icons8.com/material-outlined/24/ffffff/trash--v1.png"/>
      </div>
    </div>
  </div>
</div>

<div class="button-holder">
  <button class="add-image-button" [disabled]="images.length < 1" (click)="createBanner()">
    Створити рекламний банер
  </button>
</div>
