.chooser-container {
  width: 100%;
  display: flex;
}

.chosen-address-container {
  flex-grow: 2;
}

.address-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .andromeda-no-bg-button {
    margin-bottom: 15px;
  }
}
