<div class="dialog-title">
  Налаштуйте товар для показу
</div>
<div class="dialog-body">
  <div class="view-type-element" *ngFor="let type of viewTypes">
    <label class="andro-radio">
      <input type="radio" name="delivery" [value]="type" [checked]="type === row.rowType"
             (change)="changeCheck($event.target)">
      <span class="type-text">{{getTypeName(type)}}</span>
    </label>
  </div>
  <div class="button-holder">
    <button class="create-btn" (click)="createRow()">Зберегти</button>
  </div>

</div>

