<div class="advertisement-container">
  <div class="image-container">
    <a [href]="'client/advertisement-view?id=' + goodsAdvertisement.id"  target="_blank">
      <img class="main-image" [src]="getAdvertisementImage()">
    </a>
  </div>
  <div class="info-container">
    <div class="advertisement-title-container">
      <a [href]="'client/advertisement-view?id=' + goodsAdvertisement.id" target="_blank">
        {{goodsAdvertisement.title}}
      </a>
    </div>
    <div class="price-container" *ngIf="goodsAdvertisement.minPrice !== goodsAdvertisement.maxPrice">
      {{goodsAdvertisement.minPrice.toFixed(2)}} - {{goodsAdvertisement.maxPrice.toFixed(2)}} {{goodsAdvertisement.currencyCode}}
    </div>
    <div class="price-container" *ngIf="goodsAdvertisement.minPrice === goodsAdvertisement.maxPrice">
      {{goodsAdvertisement.minPrice.toFixed(2)}} {{goodsAdvertisement.currencyCode}}
    </div>
    <div class="rating-sold-container">
      <div class="rating-text" *ngIf="goodsAdvertisement.rating !== null">
        ★ {{goodsAdvertisement.rating}}
      </div>
      <div class="sold-text" *ngIf="goodsAdvertisement.sold != 0">{{goodsAdvertisement.sold}} продано</div>
    </div>
    <div class="advertisement-seller" *ngIf="viewType === 'searching'">
      <a [href]="'client/seller-view?id=' + goodsAdvertisement.sellerId" target="_blank">
        {{goodsAdvertisement.seller}}
      </a>
    </div>

  </div>
</div>
