<div class="user-module-block advertisements-block">
  <div class="advertisements-holder">
  <app-advertisement-for-search-table-view
    [goodsAdvertisement]="adv"
    *ngFor="let adv of advertisements"
  ></app-advertisement-for-search-table-view>
  <app-advertisement-for-search-table-view
    [goodsAdvertisement]="adv"
    *ngFor="let adv of advertisements"
  ></app-advertisement-for-search-table-view>
  <app-advertisement-for-search-table-view
    [goodsAdvertisement]="adv"
    *ngFor="let adv of advertisements"
  ></app-advertisement-for-search-table-view>
  <app-advertisement-for-search-table-view
    [goodsAdvertisement]="adv"
    *ngFor="let adv of advertisements"
  ></app-advertisement-for-search-table-view>
  </div>
</div>
