
.container {
  //padding: 50px 200px 0 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.cart-container {
  width: 70%;
  margin-right: 40px;
}

.order-container {
  width: 25%;
  //height: 200px;
  position: fixed;
  left: 70%;
  padding: 20px 30px;
}

.order-container-title{
  font-weight: 800;
  font-size: 25px;
}

.price-container{
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.order-divider{
  border-top: 1px solid #f1ecec;
}

.order-button{
  //background-color: #fff;
  font-weight: 800;
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
}

.andro-label {
  font-size: 18px;
  font-weight: 500;
}

.seller-check-label {
  font-size: 16px;
  font-weight: 400;
}

.block {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  //padding: 8px;
}

.cart-block {
  padding: 20px 30px;
}

.main-block {
  padding: 20px 30px;
}

.main-block-text {
  font-size: 28px;
  font-weight: 800;
}

.shop-container {
  border-bottom: 1px solid #f3ecec;
}

.goods-container {
  display: flex;
  //margin: 10px 0;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}

.goods-select {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: center;
}

.goods-image {
  height: 120px;
  cursor: pointer;

  img {
    height: 120px;
    width: 120px;
    border-radius: 4px;
    object-fit: cover;
  }
}

.goods-main {
  padding-left: 15px;
  font-size: 14px;
  width: 50%;
  flex-grow: 2;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
}

.goods-title {
  font-size: 14px;
  cursor: pointer;

  span {
    font-size: 14px;
  }

  margin-bottom: 5px;
}

.goods-price {
  span {
    font-size: 18px;
    font-weight: 800;
    word-break: break-all;
  }

  margin-bottom: 20px;
}

.goods-delivery {
  font-size: 12px;
  cursor: pointer;
}

.delivery-text {
  font-size: 12px;
  //text-decoration: underline;
}

.goods-actions {
  //width: 100px;
}

.count-actions {

  margin-top: 20px;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  display: flex;
  justify-content: space-between;
}

.other-actions{
  display: flex;
  flex-direction: row-reverse;
}
.delete-item-button{
  cursor: pointer;
}

.delivery-label {
  color: #817cd9;
  font-size: 12px;
}

.item-count-input {
  font-size: 15px;
  border: none;
  width: 60px;

  color: #7b77d7;

  outline: none;
  text-align: center;
}

.count-button {
  background-color: #e0dcdc;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.count-button:disabled{
  color: #998f8f;
  cursor: not-allowed;
}

