.container{
  width: 80%;
  //margin: 0 auto;
  margin-left: 100px;
}

.main-info-container{
  //border-radius: 2px;
  height: 500px;
  //margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  //border: 1px black solid;

}

.navigation-container{
  display: flex;
  justify-content: flex-end;
  //justify-content: flex-start;
}

.nav-component{
  height: 40px;
  padding-right: 100px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
  cursor: pointer;
  outline: none;
}

.nav-component:not(.chosen_nav) {
  //background-color: #ece7e7;
}

.chosen_nav{
  background-color: #fff;
}
