<!--{{advertisement?.title}}-->
<div *ngIf="advertisement">
  <div class="block">
    <div class="title-label-holder">
      <label for="advertisement-title-input" class="andro-label">Заголовок</label>
      <span *ngIf="!validateTitle" class="validation-text">Довжина заголовку 5-200 символів</span>
    </div>
    <div class="title-input-holder">
      <input type="text" class="title-input editable-input" (keyup)="validateTitle = true"
             id="advertisement-title-input" disabled [(ngModel)]="editTitle">
      <button class="cancel-title-button cancel-button button" (click)="clickCancelTitle()">Скасувати</button>
      <button class="change-title-button button" (click)="titleButtonClick()"></button>
    </div>
  </div>
<!--  <div class="block">-->
<!--    <div class="price-container" [ngSwitch]="advertisement.type">-->
<!--      <div *ngSwitchCase="'goods_retail'">-->
<!--        <div class="price-container-title">-->
<!--          Ціна за 1 шт.-->
<!--        </div>-->
<!--        <div class="price-container-content">-->
<!--          <span class="same-retail-input-text">$</span>-->
<!--          <input autocomplete="off" id="retail-price-input" type="text" class=" editable-input retail-price-input"-->
<!--                 [(ngModel)]="newRetail.price"-->
<!--                 (keyup)="validateNumber(newRetail.price)" placeholder="Ціна за одиницю $" disabled>-->
<!--          <span *ngIf="!isNumberRetail" class="validation-text">Некоректний формат ціни (Приклад: 0.00)</span>-->
<!--          <span *ngIf="isNumberRetail && !isDigitRetail"-->
<!--                class="validation-text green">Буде збережено як: $ {{transitionPriceRetail}} USD</span>-->
<!--          <div class="white-space"></div>-->
<!--          <button class="cancel-retail-price-button cancel-button button" (click)="clickCancelRetailPriceButton()">-->
<!--            Скасувати-->
<!--          </button>-->
<!--          <button class="change-retail-price-button button" (click)="clickChangeRetailPriceButton()"></button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div *ngSwitchCase="'goods_wholesale'">-->
<!--        <div class="price-container-title wholesale-title">-->
<!--          Оптова ціна-->
<!--        </div>-->
<!--        <div class="wholesale-price-container">-->
<!--          <div style="flex-grow: 2" *ngIf="wholesaleUpdate">-->
<!--            <div class="wholesale-price-info-container">-->
<!--              <div class="wh-pr-count-elem title property-title"> Кількість (шт.)-->
<!--              </div>-->
<!--              <div class="wh-pr-price-elem property-title"> Ціна $-->
<!--                <img class="add-icon" (click)="addNewWholesalePrice()"-->
<!--                     src="https://img.icons8.com/material/30/000000/plus&#45;&#45;v1.png"/>-->
<!--              </div>-->
<!--              <div class="warning-container" *ngIf="!(newWholesale.priceUnits.length >= 2)">-->
<!--                <span class="validation-text">Потрібно створити мінімум 2 варіанти ціни</span>-->
<!--              </div>-->

<!--              <div class="warning-container" *ngIf="!cantAddPriceAlert">-->
<!--                <span class="validation-text">Заповніть поля кількості</span>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div *ngFor="let price of newWholesale.priceUnits" class="wh-pr-container">-->
<!--              <div class="wh-pr-holder">-->
<!--                <div class="wh-pr-count-elem">-->
<!--                  <input type="number" min="0" class="andro-input wholesale-price-count-input"-->
<!--                         [ngClass]="{red_inp: (!price.isValidSides || !price.isValidWithOthers)}"-->
<!--                         [(ngModel)]="price.min"-->
<!--                         (change)="validateUnitSidesAndValidWithOther(price)"-->
<!--                         [disabled]="!isFirst(price)"-->
<!--                         min="1"-->
<!--                         placeholder="Від">-->
<!--                  - -->
<!--                  <input type="number" class="andro-input wholesale-price-count-input"-->
<!--                         [ngClass]="{red_inp: (!price.isValidSides || !isValidNextSide(price))}"-->
<!--                         [(ngModel)]="price.max"-->
<!--                         (keyup)="validateUnitSidesAndValidWithOther(price)"-->
<!--                         min="1"-->
<!--                         placeholder="До">-->
<!--                </div>-->
<!--                <div class="wh-pr-price-elem">-->
<!--                  <input type="text" class="wholesale-price-input andro-input"-->
<!--                         [(ngModel)]="price.price"-->
<!--                         (keyup)="validateUnitPrice(price)"-->
<!--                         placeholder="Ціна">-->
<!--                  <div class="remove-price-holder" [ngClass]="{visible_button:newWholesale.priceUnits.length > 1}">-->
<!--                    <img (click)="removeWholesalePrice(price)"-->
<!--                         src="https://img.icons8.com/material-outlined/24/000000/minus-sign.png"/>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="allert-wh-pr-container">-->
<!--              <span *ngIf="!price.isValidPrice"-->
<!--                    class="validation-text">Некоректний формат ціни (Приклад: 0.00)</span>-->

<!--                <span *ngIf="!price.isValidWithOthers && price.isValidPrice"-->
<!--                      class="validation-text">Початкове значення повинне бути більше від кількості попереднього</span>-->

<!--                <span *ngIf="!price.isValidSides && price.isValidPrice && price.isValidWithOthers"-->
<!--                      class="validation-text">{{price.min}} ≥ {{price.max === null ? '0' : price.max }}</span>-->

<!--                <span *ngIf="price.isValid() && !price.isDigit"-->
<!--                      class="validation-text green">Буде збережено як: {{price.getTwoDigitPrice()}} USD</span>-->
<!--                &lt;!&ndash;            <span&ndash;&gt;-->
<!--                &lt;!&ndash;              class="validation-text green">Буде збережено як: {{transitionPrice}} {{transitionCurrency}}</span>&ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div *ngIf="!wholesaleUpdate">-->
<!--            <table>-->
<!--              <tr *ngFor="let unit of newWholesale.priceUnits">-->
<!--                <td class="wholesale-min-count-cell wholesale-cell">{{unit.min}}</td>-->
<!--                <td class="divider-cell wholesale-cell" *ngIf="unit.max !== null ">-</td>-->
<!--                <td class="divider-cell wholesale-cell" *ngIf="unit.max === null ">+</td>-->
<!--                <td class=" wholesale-cell">{{unit.max}}</td>-->
<!--                <td class="price-divider-cell wholesale-cell">шт.</td>-->
<!--                <td class="wholesale-price-cell wholesale-cell">${{unit.price.toFixed(2)}}</td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </div>-->
<!--          <button class="button cancel-button" (click)="wholeSaleCancelClick()" *ngIf="wholesaleUpdate">Скасувати-->
<!--          </button>-->
<!--          <button class="button" (click)="wholeSaleUpdateClick()">{{wholesaleUpdate ? 'Зберегти' : 'Змінити'}}</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="block">
    <div class="title-label-holder">
      <label for="advertisement-count-input" class="andro-label">Доступна кількість (шт.)</label>
      <span *ngIf="!validateCount" class="validation-text">Поле не може бути пустим</span>
    </div>
    <div class="title-input-holder">
      <input type="number" class="count-input editable-input" (keyup)="validateCount = true"
             id="advertisement-count-input" disabled [(ngModel)]="editCount" placeholder="Доступна кількість (шт.)">
      <div class="white-space"></div>
      <button class="cancel-title-button cancel-button button" (click)="clickCancelCount()">Скасувати</button>
      <button class="change-title-button button" (click)="countButtonClick()"></button>
    </div>
  </div>

  <div class="block">
    <div class="block-title">
      Опис та характеристики
    </div>
    <div class="description-container">
      <div class="description-block">
        <textarea class="description-area" cols="140" rows="10" *ngIf="descriptionUpdate"
                  [(ngModel)]="editDescription"
                  placeholder="Введіть опис товару"></textarea>
        <div class="description-text" *ngIf="!descriptionUpdate">
          {{editDescription === null || editDescription === '' ? 'Дане оголошення не має опису' : editDescription}}
        </div>
      </div>
      <button class="cancel-title-button cancel-button button" *ngIf="descriptionUpdate"
              (click)="descriptionCancelClick()">Скасувати
      </button>
      <button class="change-title-button button"
              (click)="descriptionEditClick()">{{descriptionUpdate ? 'Зберегти' : 'Змінити'}}</button>
    </div>
    <div class="block-title properties-title">
      Характеристики:
    </div>
    <span class="validation-text" *ngIf="!validateProperties">Містить пусті поля</span>
    <div class="properties-block">
      <div class="block-title properties-title" style="font-weight: 500; color: #4e4e4e; margin-top: 10px"
           *ngIf="advertisement.properties.length === 0 && !descriptionUpdate">
        Даний товар не має характеристик
      </div>

      <table class="properties-table" *ngIf="!descriptionUpdate">
        <tr *ngFor="let property of advertisement.properties">
          <td class="show-property-cell">{{property.name}}</td>
          <td class="show-property-cell">:</td>
          <td class="show-property-cell">{{property.value}}</td>
        </tr>
      </table>
      <table class="properties-table" *ngIf="descriptionUpdate">
        <tr *ngFor="let property of editProperties">
          <td class="show-property-cell"><input class="edit-property-input" type="text" [(ngModel)]="property.name">
          </td>
          <td class="show-property-cell">:</td>
          <td class="show-property-cell"><input class="edit-property-input" type="text" [(ngModel)]="property.value">
          </td>
          <td>
            <div class="remove-property-holder" [ngClass]="{visible_button: editProperties.length > 1}">
              <img (click)="removeProperty(property)"
                   src="https://img.icons8.com/material-outlined/24/000000/minus-sign.png"/>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button (click)="addNewProperty()" class="add-property-button">+</button>
          </td>
        </tr>
      </table>
      <div class="add-price-button">

        <!--        <img (click)="addNewProperty()" src="https://img.icons8.com/material/24/000000/plus-2-math&#45;&#45;v1.png"/>-->
      </div>
    </div>
  </div>


  <div class="block delivery-block">
    <div class="show-deliveries-block deliveries-block" *ngIf="!deliveryUpdate">
      <div class="block-title delivery-block-title">Даний товар ви доставляєте такими способами:</div>
      <div class="show-delivery-item">- За домовленістю</div>
      <div class="show-delivery-item" *ngFor="let delivery of advertisementDeliveries">
        - {{delivery.title}}
      </div>
      <div class="block-title only-seller-container">
        <div class="block-title delivery-block-title">Умови доставки:</div>
        <input type="checkbox" id="only-seller-show" class="andro-checkbox" disabled
               [checked]="this.advertisement.onlySellerCountry">
        <label class="andro-label" for="only-seller-show"
               id="only-seller-show-label">Доставка даного товару лише в межах моєї країни</label>
      </div>
    </div>
    <div class="edit-deliveries-block deliveries-block" *ngIf="deliveryUpdate">
      <div class="block-title delivery-block-title">Оберіть спооби доставки для цього товару:</div>
      <div>
        <input type="checkbox" id="default-delivery-check" class="andro-checkbox" checked disabled>
        <label class="andro-label" for="default-delivery-check"
               id="default-delivery-check-label">За домоленістю</label>
      </div>
      <div class="show-delivery-item" *ngFor="let delivery of allCountryDeliveryList">
        <input type="checkbox" [id]="'del_' + delivery.id" class="andro-checkbox" [(ngModel)]="delivery.checked">
        <label class="andro-label" [for]="'del_' + delivery.id"
               id="only-seller-country-check-label">{{delivery.title}}</label>
      </div>
      <div class="only-seller-container edit-seller-container">
        <div class="block-title delivery-block-title">Умови доставки:</div>
        <input type="checkbox" id="only-seller-delivery-check" class="andro-checkbox" [(ngModel)]="editOnlySeller">
        <label class="andro-label" for="only-seller-delivery-check"
               id="only-seller-delivery-label">Я здійснюю доставку цього товару лише з моєї країни</label>
      </div>
    </div>
    <button class="button cancel-button" *ngIf="deliveryUpdate" (click)="cancelDeliveryClick()">Скасувати</button>
    <button class="button" (click)="clickChangeDeliveries()">{{deliveryUpdate ? 'Зберегти' : 'Змінити'}}</button>
  </div>

  <div class="block">
    <div class="block-title images-title">Фото</div>
    <input type="file" accept="image/png,image/jpg,image/jpeg" id="add-image-input" style="display: none" (change)="handleUpload($event)">
    <div class="images-container" *ngIf="advertisement.mainImage">
      <div class="image-container">
        <div class="view-image-container">
          <img [src]="getImage(viewImage, advertisement.sellerId)">
          <div class="view-overlay" *ngIf="viewImage === advertisement.mainImage">
            <div class="view-overlay-text">Головне зображення</div>
          </div>
        </div>
        <div class="all-images-container">
          <div (click)="viewImage = advertisement.mainImage;cantImagesMoreShow = false; cantDeleteMainShow = false" class="image-item-holder" [ngClass]="{selected_image: viewImage === advertisement.mainImage}">
            <img [src]="getImage(advertisement.mainImage, advertisement.sellerId)" alt="">
          </div>
          <div (click)="viewImage = image;cantImagesMoreShow = false; cantDeleteMainShow = false" class="image-item-holder" *ngFor="let image of advertisement.images"
               [ngClass]="{selected_image: viewImage === image}">
            <img [src]="getImage(image, advertisement.sellerId)" alt="">
          </div>
        </div>
      </div>
      <div class="image-actions-container">
        <button class="button add-image-button image-btn" (click)="clickAddImageButton()">
          Додати зображення
        </button>
        <button class="button image-btn" *ngIf="viewImage !== advertisement.mainImage" (click)="clickMainButton()">
          Зробити головним
        </button>
        <button class="button cancel-button image-btn" (click)="deleteImageClick()">
          Видалити
        </button>
        <div>
          <span *ngIf="cantDeleteMainShow" class="validation-text">Не можна видалити головне зображення</span>
          <span *ngIf="cantImagesMoreShow" class="validation-text">Не можна додати більше ніж 5 зображень</span>
        </div>
      </div>
    </div>
    <div class="no-images-title" *ngIf="!advertisement.mainImage">
      <div class="block-title">Даний товар не має зображень</div>
      <button class="button add-image-button image-btn" (click)="clickAddImageButton()">
        Додати зображення
      </button>
    </div>
  </div>
</div>
