.banner-body {
  height: 100%;
}

.banner-images {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: hidden;
}

.image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  //max-height: 100%;
  width: 100%;
  object-fit: cover;

}
