//.diagram-container {
//  height: 400px;
//}

app-statistics-column-diagram {
  height: 100%;
}
.year-picker-container {
  padding-left: 3%;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
}
