<div class="chooser-container">
  <div class="chooser-element">
    <app-andromeda-checkbox (changeState)="changeCurrencyChoose($event, 'UAH')"></app-andromeda-checkbox>
    UAH
  </div>
  <div class="chooser-element">
    <app-andromeda-checkbox (changeState)="changeCurrencyChoose($event, 'EUR')"></app-andromeda-checkbox>
    EUR
  </div>
  <div class="chooser-element">
    <app-andromeda-checkbox (changeState)="changeCurrencyChoose($event, 'RUR')"></app-andromeda-checkbox>
    RUR
  </div>
</div>
